:root {
  --primary-b-400: #6070ff;
  --primary-b-300: #7f8cff;
  --neutrals-n-800: #172b4d;
  --neutrals-n-600: #344563;
  --neutrals-n-10: #f7f7f9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--neutrals-n-10, #f7f7f9);
}

/* Introduction section - Header */
.intro-section {
  height: 718px;
  width: 100%;
  border-radius: 0 0 0 100px;
  background-color: white;
}

.bar {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  padding: 16px 21px 12px;
  width: 100%;
  height: 44px;
}

.clock {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.nav-bar {
  padding: 30px 6%;
  display: flex;
  flex-direction: row wrap;
  height: 48px;
  align-items: center;
  width: 100%;
  position: relative;
}

.logo {
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  animation: rotatelogo 1s ease-in-out;
}

@keyframes rotatelogo {
  to {
    transform: rotate(360deg);
  }
}

.logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.menu {
  color: var(--primary-b-400, #6070ff);
  height: 100%;
  position: absolute;
  top: 2px;
  right: 6%;
}

.menu-items-container {
  display: none;
}

.menu:hover {
  opacity: 0.7;
  cursor: pointer;
}

.introduction {
  background-image: url('./images/mobile-header/header-shapes\ mobile.svg');
  background-size: 100% 120%;
  background-repeat: no-repeat;
  height: 604px;
}

.intro-container {
  padding: 18% 6%;
}

.header {
  color: var(--neutrals-n-800, #172b4d);
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.paragraph {
  color: var(--neutrals-n-600, #344563);
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.connect {
  color: var(--primary-b-300, #7f8cff);
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.social-icons {
  display: flex;
  flex-direction: row wrap;
  padding-left: 0;
}

.icon {
  padding: 0 8px;
  list-style: none;
}

.icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

.medium {
  padding-top: 4px;
}

/* Work section */
.grid-container {
  display: grid;
  gap: 88px;
  grid-template-rows: repeat(4, 1fr);
}

.work-section {
  padding: 114px 6.5%;
}

.card {
  display: flex;
  padding: 4%;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  height: 552px;
}

.image-1,
.image-2,
.image-3,
.image-4 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 50%;
}

.image-1 {
  background-image: url('./images/mobile-images/Snapshoot\ Portfolio.png');
}

.image-2 {
  background-image: url('./images/mobile-images/Snapshoot\ Portfolio\ 1.png');
}

.image-3 {
  background-image: url('./images/mobile-images/Snapshoot\ Portfolio\ 2.png');
}

.image-4 {
  background-image: url('./images/mobile-images/Snapshoot\ Portfolio\ 3.png');
}

.project-name {
  color: var(--neutrals-n-800, #172b4d);
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  width: 100%;
  margin: 0;
}

.project-info {
  display: flex;
  flex-direction: row wrap;
  width: 100%;
}

.company {
  color: var(--neutrals-n-600, #344563);
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  padding: 0 6px 0 0;
}

.position,
.year {
  color: var(--neutrals-n-100, #7a869a);
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  padding: 0 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: var(--neutrals-n-50, #c1c7d0);
  margin: 4px 6px 0;
}

.desc {
  color: var(--neutrals-n-600, #344563);
  font-size: 15px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.stack {
  list-style: none;
  display: flex;
  flex-direction: row wrap;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
}

.lang {
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  padding: 4px 12px;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  margin-right: 8px;
}

.see-project {
  border-radius: 8px;
  padding: 12px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  width: 30%;
  min-width: 120px;
  margin: 12px 0;
  background-color: white;
}

.see-project:focus,
.see-project:hover {
  background-color: var(--primary-b-500, #396df2);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 0.24);
  cursor: pointer;
}

/* About section */
.about-section {
  padding: 114px 24px;
  border-radius: 0 100px 0 0;
  background-color: white;
}

.title {
  color: var(--neutrals-n-800, #172b4d);
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 5px;
}

.content {
  color: var(--neutrals-n-600, #344563);
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
}

.get-my-resume {
  padding: 12px 3%;
  width: 47%;
}

ul {
  list-style-type: none;
}

.about-list {
  margin-top: 26px;
  margin-left: 0;
  padding-left: 0;
}

.about-item {
  color: #000;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 22px 26px 16px 12px;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  height: 72px;
}

.about-item > img {
  width: 40px;
  height: 40px;
}

.about-lang-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.about-lang {
  margin: 6px;
  display: flex;
  padding: 9px 12px 9.716px 12px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
  color: var(--neutrals-n-700, #253858);
  font-size: 15px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.active {
  border-bottom: 1px solid var(--neutrals-n-40, #dfe1e6);
}

/* Contact section */
.contact {
  background-color: white;
  margin-top: -20px;
  width: 100%;
}

.contact-block {
  padding-top: 30px;
  background: url('./images/mobile-contact/contact\ form\ shapes-mobile.svg') right no-repeat;
  background-size: 60% 95%;
  border-radius: 100px 0 0 0;
  background-color: var(--primary-b-400, #6070ff);
  height: 800px;
  width: 100%;
}

.contact-title {
  color: var(--neutrals-n-0, #fff);
  text-align: center;
  padding-top: 35px;
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.contact-content {
  color: var(--primary-b-50, #ebebff);
  text-align: center;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: -10px 20px;
  margin: 0 20px 35px;
}

form {
  max-width: 1200px;
}

input {
  display: block;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  height: 48px;
  margin: 10px 24px;
  padding: 0 16px;
  width: calc(100% - 48px);
}

input::placeholder {
  color: var(--neutral-n-800, #172b4d);
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

textarea {
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  margin: 10px 24px;
  padding: 10px 16px;
  width: calc(100% - 48px);
}

textarea::placeholder {
  color: var(--neutral-n-800, #172b4d);
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.get-in-touch {
  background-color: white;
  margin-left: 24px;
}

.end-bar {
  margin: auto;
  width: 134px;
  height: 5px;
  background: #0d151e;
  border: #000;
  border-radius: 10px;
  margin-top: -10px;
}

@media screen and (min-width: 768px) {
  .bar,
  .menu {
    display: none;
  }

  .nav-bar {
    height: 72px;
    position: relative;
  }

  .logo {
    color: var(--primary-b-400, #6070ff);
    text-align: center;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .logo:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .menu-items-container {
    display: block;
    position: absolute;
    right: 6%;
  }

  .menu-items {
    display: flex;
    flex-direction: row wrap;
  }

  .item {
    list-style: none;
    padding: 0 16px;
    color: var(--neutrals-n-600, #344563);
    text-align: center;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .item > a {
    text-decoration: none;
    color: var(--neutrals-n-600, #344563);
  }

  .item:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .intro-container {
    padding: 15% 18%;
  }

  .intro-section {
    height: 916px;
    border-radius: 0 0 0 200px;
  }

  .introduction {
    height: 846px;
    background-image: url('./images/desktop-header/Header bg.svg');
    background-size: 100% 90%;
  }

  .icon img {
    transition: transform 0.7s;
  }

  .icon img:hover {
    transform: translateY(-10px);
  }

  /* Work section */
  .grid-container {
    gap: 142px;
  }

  .work-section {
    padding: 10%;
  }

  .card {
    padding: 24px;
    flex-direction: row;
    border-radius: 24px;
    height: 496px;
    width: 100%;
  }

  .card-2 {
    flex-direction: row-reverse;
  }

  .image-1,
  .image-2,
  .image-3,
  .image-4 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }

  .image-1 {
    background-image: url('./images/desktop-images/Snapshoot\ Portfolio\ desktop.png');
  }

  .image-2 {
    background-image: url('./images/desktop-images/Snapshoot\ Portfolio\ desktop\ \(1\).png');
  }

  .image-3 {
    background-image: url('./images/desktop-images/Snapshoot\ Portfolio\ desktop\ 3.png');
  }

  .image-4 {
    background-image: url('./images/desktop-images/Snapshoot\ Portfolio\ desktop\ 4.png');
  }

  .card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    gap: 3%;
  }

  .see-project:hover {
    background-color: var(--primary-b-500, #396df2);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 0.24);
  }

  /* About section */
  .about-section {
    margin-top: 3%;
    padding: 143px;
    border-radius: 0 200px 0 0;
    display: flex;
    flex-direction: row wrap;
    gap: 7%;
  }

  .about-info {
    width: 40%;
  }

  .social-icons {
    margin: 24px 0;
  }

  .about-list {
    width: 50%;
  }

  .about-lang-list {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .about-lang {
    width: 25.5%;
    display: block;
    flex-direction: column;
  }

  .get-my-resume {
    min-width: 150px;
  }

  /* Contact section */
  .contact {
    border-radius: 200px 0 0 0;
    color: var(--primary-b-400, #6070ff);
    background-color: white;
  }

  .contact-background {
    background-color: white;
  }

  .contact-block {
    background-image: url('./images/desktop-contact/contact\ form\ background\ shapes.svg');
    background-size: 90% 90%;
    background-repeat: no-repeat;
    padding: 2.5% 28%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    border-radius: 2px;
  }

  .get-in-touch {
    width: 20%;
    min-width: 125px;
    margin: 7px auto;
  }
}
